RewriteEngine On
RewriteBase /praktica1/

# Если файл или директория существуют, используем их
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Все остальные запросы перенаправляем на index.html
RewriteRule . /praktica1/index.html [L]
